In [1]:
import numpy as np
import pandas as pd
import os
pd.set_option('display.max_columns', None)

In [2]:
PATH = 'guillaume.txt'

In [3]:
df=pd.read_csv(PATH,sep=";",decimal=",")

C:\Users\Maurin\AppData\Local\Temp\ipykernel_24636\789356330.py:1: DtypeWarning: Columns (1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(PATH,sep=";",decimal=",")

In [4]:
df.drop(columns=["CodeDecision","ZIBZIN"],inplace=True)

In [5]:
# df

In [6]:
df.drop(1956360,inplace=True)

In [7]:
df['DateTransaction'] = pd.to_datetime(df['DateTransaction'], yearfirst=True)

# Création de trois nouvelles colonnes : Année, Mois, Jour
df['Année'] = df['DateTransaction'].dt.year
df['Mois'] = df['DateTransaction'].dt.month
df['Jour'] = df['DateTransaction'].dt.day

# # Création de trois nouvelles colonnes : Heure, Minute, Seconde
df['Heure'] = df['DateTransaction'].dt.hour
df['Minute'] = df['DateTransaction'].dt.minute
df['Seconde'] = df['DateTransaction'].dt.second

In [8]:
df.iloc[1956360]

IDAvisAutorisationCheque               78643047
FlagImpaye                                    0
Montant                      54,289999999999999
DateTransaction             2017-02-01 07:48:48
VerifianceCPT1                                1
VerifianceCPT2                                1
VerifianceCPT3                                1
D2CB                                        267
ScoringFP1                                    0
ScoringFP2                                    0
ScoringFP3                                    0
TauxImpNb_RB                 110,05692599620494
TauxImpNB_CPM                53,554233554497365
EcartNumCheq                                  0
NbrMagasin3J                                  1
DiffDateTr1                                   4
DiffDateTr2                                   4
DiffDateTr3                                   4
CA3TRetMtt                   54,289999999999999
CA3TR                                         0
Heure                                         7
Année                                      2017
Mois                                          2
Jour                                          1
Minute                                       48
Seconde                                      48
Name: 1956361, dtype: object

In [9]:
y=df.FlagImpaye

In [10]:
y=y.astype(int)

In [11]:
df.drop(columns=["FlagImpaye","DateTransaction"],inplace=True)

In [12]:
df["ScoringFP1"]=df["ScoringFP1"].replace(',', '.', regex=True)
df["ScoringFP2"]=df["ScoringFP2"].replace(',', '.', regex=True)
df["ScoringFP3"]=df["ScoringFP3"].replace(',', '.', regex=True)
df["Montant"]=df["Montant"].replace(',', '.', regex=True)
df["TauxImpNb_RB"]=df["TauxImpNb_RB"].replace(',', '.', regex=True)
df["TauxImpNB_CPM"]=df["TauxImpNB_CPM"].replace(',', '.', regex=True)
df["DiffDateTr1"]=df["DiffDateTr1"].replace(',', '.', regex=True)
df["DiffDateTr2"]=df["DiffDateTr2"].replace(',', '.', regex=True)
df["DiffDateTr3"]=df["DiffDateTr3"].replace(',', '.', regex=True)
df["CA3TRetMtt"]=df["CA3TRetMtt"].replace(',', '.', regex=True)
df["CA3TR"]=df["CA3TR"].replace(',', '.', regex=True)

In [13]:
df["ScoringFP1"]=df["ScoringFP1"].astype(float)
df["ScoringFP2"]=df["ScoringFP2"].astype(float)
df["ScoringFP3"]=df["ScoringFP3"].astype(float)
df["Montant"]=df["Montant"].astype(float)
df["TauxImpNb_RB"]=df["TauxImpNb_RB"].astype(float)
df["TauxImpNB_CPM"]=df["TauxImpNB_CPM"].astype(float)
df["DiffDateTr1"]=df["DiffDateTr1"].astype(float)
df["DiffDateTr2"]=df["DiffDateTr2"].astype(float)
df["DiffDateTr3"]=df["DiffDateTr3"].astype(float)
df["CA3TRetMtt"]=df["CA3TRetMtt"].astype(float)
df["CA3TR"]=df["CA3TR"].astype(float)
df["VerifianceCPT1"]=df["VerifianceCPT1"].astype(bool)
df["VerifianceCPT2"]=df["VerifianceCPT2"].astype(bool)
df["VerifianceCPT3"]=df["VerifianceCPT3"].astype(bool)
df["IDAvisAutorisationCheque"]=df["IDAvisAutorisationCheque"].astype(float)
df["EcartNumCheq"]=df["EcartNumCheq"].astype(bool)
df["NbrMagasin3J"]=df["NbrMagasin3J"].astype(bool)
df["D2CB"]=df["D2CB"].astype(float)

In [14]:
tmp=3899363

In [15]:
X_test=df.loc[df.index >= tmp]

y_test=y.loc[y.index >= tmp]

In [16]:
y_test.value_counts()

FlagImpaye
0    740838
1      6573
Name: count, dtype: int64

## Sampling

In [17]:
X_train=pd.read_csv("X.csv")
y_train=pd.read_csv("y.csv")

In [18]:
X_train

,Unnamed: 0,IDAvisAutorisationCheque,Montant,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,ScoringFP2,ScoringFP3,TauxImpNb_RB,TauxImpNB_CPM,EcartNumCheq,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure,Année,Mois,Jour,Minute,Seconde
0,0,7.864304e+07,20.000000,0.00000,0.00000,0.00000,551.000000,0.000000,0.000000,0.000000,37.186668,52.076034,0.00000,1.0,4.000000,4.0,4.0,20.000000,0.000000,7,2017,2,1,32,14
1,1,7.864305e+07,57.640000,0.00000,0.00000,0.00000,549.000000,0.000000,0.000000,0.000000,73.118280,52.076034,0.00000,1.0,4.000000,4.0,4.0,57.640000,0.000000,7,2017,2,1,47,38
2,2,7.864305e+07,26.900000,0.00000,0.00000,0.00000,549.000000,0.003769,8.586333,0.001192,45.368313,52.076034,1.00000,1.0,1.997106,4.0,4.0,59.150000,32.250000,8,2017,2,1,13,27
3,3,7.864305e+07,42.510000,0.00000,0.00000,0.00000,523.000000,0.000000,0.000000,0.000000,24.223058,27.448962,0.00000,1.0,4.000000,4.0,4.0,42.510000,0.000000,8,2017,2,1,13,53
4,4,7.864305e+07,50.840000,0.00000,0.00000,0.00000,551.000000,0.006151,12.929167,0.001146,44.775178,52.076034,0.00000,1.0,4.000000,4.0,4.0,50.840000,0.000000,8,2017,2,1,18,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3794415,3794415,8.062027e+07,24.419156,0.00000,0.00000,0.00000,548.209313,0.000529,0.477888,0.000118,38.297261,33.569237,0.00000,1.0,4.000000,4.0,4.0,24.419156,0.000000,10,2017,5,5,46,36
3794416,3794416,8.060801e+07,158.084358,0.00000,0.00000,0.00000,541.134584,0.018997,-1.196201,0.001678,25.063178,22.589443,0.00000,1.0,4.000000,4.0,4.0,158.084358,0.000000,16,2017,5,4,41,9
3794417,3794417,8.022310e+07,78.270000,1.87849,1.87849,2.87849,544.000000,0.004796,-24.953633,0.001698,55.675249,36.813027,0.87849,1.0,0.489142,4.0,4.0,147.029388,68.759388,19,2017,4,15,26,31
3794418,3794418,8.060818e+07,78.271596,0.00000,0.00000,0.00000,538.160222,0.007712,5.853265,0.001298,45.368313,52.076034,0.00000,1.0,4.000000,4.0,4.0,78.271596,0.000000,16,2017,5,4,45,38
3794419,3794419,8.061760e+07,111.227738,0.00000,0.00000,0.00000,547.978463,0.008138,25.526844,0.001086,37.228994,50.203922,0.00000,1.0,4.000000,4.0,4.0,111.227738,0.000000,10,2017,5,5,0,27

In [19]:
X_train.drop(columns=["Unnamed: 0"],inplace=True)
y_train.drop(columns=["Unnamed: 0"],inplace=True)

In [20]:
y_train.value_counts()

FlagImpaye
False         3772495
True            21925
Name: count, dtype: int64

In [21]:
y_test.value_counts()

FlagImpaye
0    740838
1      6573
Name: count, dtype: int64

## ML Voting - combinaison de plusieurs algo classificatiion

In [31]:


from sklearn.datasets import make_classification
from sklearn.ensemble import VotingClassifier
from sklearn.neighbors import KNeighborsClassifier

models = list()
models.append(('knn1', KNeighborsClassifier(n_neighbors=1)))
models.append(('knn3', KNeighborsClassifier(n_neighbors=3)))
models.append(('knn5', KNeighborsClassifier(n_neighbors=5)))


ensemble = VotingClassifier(estimators=models, voting='hard')

ensemble.fit(X_train, y_train.values.ravel())

yp = ensemble.predict(X_test)

In [28]:
from sklearn.metrics import f1_score

f1 = f1_score(y_test, yp)
print(f1)

0.0

In [29]:
pd.crosstab(y_test, yp)

col_0        False
FlagImpaye
0           740838
1             6573