In [5]:
import numpy as np
import pandas as pd
import os
pd.set_option('display.max_columns', None)

In [6]:
PATH = 'guillaume.txt'

In [7]:
df=pd.read_csv(PATH,sep=";",decimal=",")

/var/folders/v_/8q_kjpjn7q9b52tdp8pr3wmm0000gn/T/ipykernel_48808/789356330.py:1: DtypeWarning: Columns (1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(PATH,sep=";",decimal=",")

In [8]:
df.drop(columns=["CodeDecision","ZIBZIN"],inplace=True)

In [9]:
df

,IDAvisAutorisationCheque,FlagImpaye,Montant,DateTransaction,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,ScoringFP2,ScoringFP3,TauxImpNb_RB,TauxImpNB_CPM,EcartNumCheq,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure
0,78643044,0,20.0,2017-02-01 07:32:14,0,0,0,551,0.0,0.0,0.0,37.186668,52.076034,0,1,4.0,4.0,4.0,20.0,0.0,27134
1,78643045,0,20.0,2017-02-01 07:43:37,0,0,0,551,0.0,0.0,0.0,48.844716,52.076034,1,2,1.797685,4.0,4.0,28.61,8.61,27817
2,78643046,0,57.64,2017-02-01 07:47:38,0,0,0,549,0.0,0.0,0.0,73.11828,52.076034,0,1,4.0,4.0,4.0,57.64,0.0,28058
3,78643047,0,54.29,2017-02-01 07:48:48,1,1,1,267,0.0,0.0,0.0,110.056926,53.554234,0,1,4.0,4.0,4.0,54.29,0.0,28128
4,78643048,0,26.9,2017-02-01 08:13:27,0,0,0,549,0.003769,8.586333,0.001192,45.368313,52.076034,1,1,1.997106,4.0,4.0,59.15,32.25,29607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4646769,84966399,0,23.94,2017-11-30 21:20:15,0,0,0,1,4.788,-22.542614,1.970346,42.072631,43.030421,0,1,5.0,5.0,5.0,23.94,0.0,76815
4646770,84966400,0,92.6,2017-11-30 21:22:49,0,0,0,514,0.060052,-2.236379,0.003084,167.130919,36.813027,1,2,1.035949,4.0,4.0,262.45,169.85,76969
4646771,84966401,0,69.0,2017-11-30 21:24:37,0,0,0,1,3.631579,-1.062954,0.790971,72.607261,52.076034,0,1,5.0,5.0,5.0,69.0,0.0,77077
4646772,84966402,0,57.8,2017-11-30 21:57:32,0,0,0,1,28.9,0.567666,0.581925,31.880978,82.051282,0,1,5.0,5.0,5.0,57.8,0.0,79052
4646773,84966405,0,42.21,2017-11-30 22:07:13,0,0,0,461,0.004578,-26.658799,0.002055,45.368313,52.076034,0,1,4.0,4.0,4.0,42.21,0.0,79633

In [10]:
df.drop(1956360,inplace=True)

In [11]:
df['DateTransaction'] = pd.to_datetime(df['DateTransaction'], yearfirst=True)

# Création de trois nouvelles colonnes : Année, Mois, Jour
df['Année'] = df['DateTransaction'].dt.year
df['Mois'] = df['DateTransaction'].dt.month
df['Jour'] = df['DateTransaction'].dt.day

# Création de trois nouvelles colonnes : Heure, Minute, Seconde
df['Heure'] = df['DateTransaction'].dt.hour
df['Minute'] = df['DateTransaction'].dt.minute
df['Seconde'] = df['DateTransaction'].dt.second

In [12]:
df.iloc[1956360]

IDAvisAutorisationCheque               78643047
FlagImpaye                                    0
Montant                      54,289999999999999
DateTransaction             2017-02-01 07:48:48
VerifianceCPT1                                1
VerifianceCPT2                                1
VerifianceCPT3                                1
D2CB                                        267
ScoringFP1                                    0
ScoringFP2                                    0
ScoringFP3                                    0
TauxImpNb_RB                 110,05692599620494
TauxImpNB_CPM                53,554233554497365
EcartNumCheq                                  0
NbrMagasin3J                                  1
DiffDateTr1                                   4
DiffDateTr2                                   4
DiffDateTr3                                   4
CA3TRetMtt                   54,289999999999999
CA3TR                                         0
Heure                                         7
Année                                      2017
Mois                                          2
Jour                                          1
Minute                                       48
Seconde                                      48
Name: 1956361, dtype: object

In [13]:
y=df.FlagImpaye

In [14]:
y=y.astype(int)

In [15]:
df.drop(columns=["FlagImpaye","DateTransaction"],inplace=True)

In [16]:
df["ScoringFP1"]=df["ScoringFP1"].replace(',', '.', regex=True)
df["ScoringFP2"]=df["ScoringFP2"].replace(',', '.', regex=True)
df["ScoringFP3"]=df["ScoringFP3"].replace(',', '.', regex=True)
df["Montant"]=df["Montant"].replace(',', '.', regex=True)
df["TauxImpNb_RB"]=df["TauxImpNb_RB"].replace(',', '.', regex=True)
df["TauxImpNB_CPM"]=df["TauxImpNB_CPM"].replace(',', '.', regex=True)
df["DiffDateTr1"]=df["DiffDateTr1"].replace(',', '.', regex=True)
df["DiffDateTr2"]=df["DiffDateTr2"].replace(',', '.', regex=True)
df["DiffDateTr3"]=df["DiffDateTr3"].replace(',', '.', regex=True)
df["CA3TRetMtt"]=df["CA3TRetMtt"].replace(',', '.', regex=True)
df["CA3TR"]=df["CA3TR"].replace(',', '.', regex=True)

In [17]:
df["ScoringFP1"]=df["ScoringFP1"].astype(float)
df["ScoringFP2"]=df["ScoringFP2"].astype(float)
df["ScoringFP3"]=df["ScoringFP3"].astype(float)
df["Montant"]=df["Montant"].astype(float)
df["TauxImpNb_RB"]=df["TauxImpNb_RB"].astype(float)
df["TauxImpNB_CPM"]=df["TauxImpNB_CPM"].astype(float)
df["DiffDateTr1"]=df["DiffDateTr1"].astype(float)
df["DiffDateTr2"]=df["DiffDateTr2"].astype(float)
df["DiffDateTr3"]=df["DiffDateTr3"].astype(float)
df["CA3TRetMtt"]=df["CA3TRetMtt"].astype(float)
df["CA3TR"]=df["CA3TR"].astype(float)
df["VerifianceCPT1"]=df["VerifianceCPT1"].astype(bool)
df["VerifianceCPT2"]=df["VerifianceCPT2"].astype(bool)
df["VerifianceCPT3"]=df["VerifianceCPT3"].astype(bool)
df["IDAvisAutorisationCheque"]=df["IDAvisAutorisationCheque"].astype(float)
df["EcartNumCheq"]=df["EcartNumCheq"].astype(bool)
df["NbrMagasin3J"]=df["NbrMagasin3J"].astype(bool)
df["D2CB"]=df["D2CB"].astype(float)

In [18]:
df.dtypes

IDAvisAutorisationCheque    float64
Montant                     float64
VerifianceCPT1                 bool
VerifianceCPT2                 bool
VerifianceCPT3                 bool
D2CB                        float64
ScoringFP1                  float64
ScoringFP2                  float64
ScoringFP3                  float64
TauxImpNb_RB                float64
TauxImpNB_CPM               float64
EcartNumCheq                   bool
NbrMagasin3J                   bool
DiffDateTr1                 float64
DiffDateTr2                 float64
DiffDateTr3                 float64
CA3TRetMtt                  float64
CA3TR                       float64
Heure                         int32
Année                         int32
Mois                          int32
Jour                          int32
Minute                        int32
Seconde                       int32
dtype: object

In [19]:
print(y.value_counts())
neg, pos = y.value_counts()
pourcentage = pos / neg *100
pourcentage

FlagImpaye
0    4616778
1      29995
Name: count, dtype: int64

0.6496955235880955

In [20]:
neg/pos ## valeur pour le futur weight_class

153.9182530421737

## Cost sensitive avec XGBoost

In [21]:
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold

X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2, random_state=42)

In [29]:
model = XGBClassifier()

weights = [1, 99, 100, 125, 153, 154]
param_grid = dict(scale_pos_weight=weights)

grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=5, scoring='f1')

grid_result = grid.fit(X_train, y_train)

In [30]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_)) 
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: 0.110288 using {'scale_pos_weight': 1}
0.110288 (0.007129) with: {'scale_pos_weight': 1}
0.057782 (0.000434) with: {'scale_pos_weight': 99}
0.056887 (0.000263) with: {'scale_pos_weight': 100}
0.048971 (0.000286) with: {'scale_pos_weight': 125}
0.042807 (0.000306) with: {'scale_pos_weight': 153}
0.042660 (0.000382) with: {'scale_pos_weight': 154}

In [31]:
from sklearn.metrics import f1_score
r = grid.predict(X_test)

rf = f1_score(y_test, r)
print(rf)

0.13018811585547924